* {
    margin: 0;
    padding: 0;
}


.fundo {
    background-image: linear-gradient(45deg, black, crimson);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.calculator {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}


.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #fff;
}


.button:hover {
    background-color: black;
}


#result {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}


a {
    color: white;
}

#container-copyright{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
}
